/*  your css code here. If applicable */
/* 
#yellow{
    background: yellow;
    border-width: 1px;
	border-top-style: solid;
    border-color: green;
	border-left-style:solid;
		border-right-style:solid;
	
	border-bottom-style:solid;

}
#red{
    background: red;
    border-width: 1px;
    border-color: black;
}
#green{
    background: green;
    border-width: 1px;
/* 	border-top:solid: */
/* 	 border-top-style: solid; */
    border-color: yellow;

}
 */

#yellow {
            background-color: yellow;
            border: 1px solid green;
        }

        #red {
            background-color: red;
            border: 1px solid black;
        }

        #green {
            background-color: green;
            border: 1px solid yellow;
        }